<!DOCTYPE Html>
<html>
    <head>
        <title>about</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Sahil Saini. It uses data from mapbox.com and weather stack API. If you location doesnot come then please use nearby cities to to current location</p>
        <img class="portrait" src="/img/weather.jpg">
        </div>
        {{>footer}}

    </body>
</html>